.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}



.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}



body {
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: column;
  margin: 0;
  padding: 0;

  background-image: url("layout/truck.jpg");
  background-size: cover;
  background-repeat: no-repeat; 
  background-position: center; 
  height: auto;
  width: auto;

}

.col{

  padding: 20px 20px 20px 20px;
  margin: 20px 20px 20px 20px;
 
}

.foot{



  margin-bottom: 0px;
  padding-bottom: 50px;
  margin-top: 200px;
  padding-top: 50px;
  position: bottom;
  align-items: bottom ;
  background-color: rgba(0, 0, 0, 0.6); 
  /* background: linear-gradient(to right, #066898a5, #241fb6a5); */


  
}

.table{

  /* color: #4CAF50; */
  color: rgb(174, 255, 0);


}

.img{

  height: 300px;
  width:300px;

}

.first{

  padding-left: 110px;
  padding-right: 110px;
  font-size: 20px;

}

.second{

  padding-left: 110px;
  padding-right: 110px;
  font-size: 20px;



}
.third{
  
    padding-left: 150px;
    padding-right: 150px;
    font-size: 20px;

}

.fourth{
  
    padding-left: 150px;
    padding-right: 150px;
    font-size: 20px;

}



  .but {

    background-color: #4CAF50;
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
  }



.title{

  font-size: 50px;
  color: #4CAF50; 
}


.sum{

    background: linear-gradient(to right, #cfbfd4, #eaadc1);
    padding-top: 100px;
    padding-bottom: 100px;
    width: 1100px;
    margin-left: 20px;

}

.sumnav{
  
  height: 80px;
  background: linear-gradient(to right, #066898a5, #241fb6a5);
  margin-bottom: 40px;



}

.sum1{



      /* background: linear-gradient(to right, #cfbfd4, #eaadc1); */
  padding-top: 100px;
  padding-bottom: 100px;
  margin-left: 800px;
  margin-top: 100px;
  width: 600px;
  background-color: rgba(255, 255, 255, 0.503); 



}


.grid-container {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(200px, 1fr)); /* Adjust the width as needed */
    gap: 10px; /* Adjust the gap between items */
    margin-right: 100px;
    margin-left: 100px;
}

 
